extends layout

block content
  div(id="div_TestForm")
      h1 Component Testing
      p Quick instructions
      hr
      form
        div.form-group
              label(for="select_TestType") Test Type:
              select.form-control.input-lg(id="select_TestType", name="input_TestType")
        button.btn.btn-primary.btn-lg(id="btn_PerformTest", type="button") Perform Test
  
  div.alert.alert-success(id="alert_Success", role="alert", style="display: none;")
  div.alert.alert-warning(id="alert_Warning", role="alert", style="display: none;")
  div.alert.alert-danger(id="alert_Failure", role="alert", style="display: none;")

block scripts
    script(src='/javascript/utils.js')
    script(src='/javascript/component_testing/main.js')
