extends layout

block content
  h1 Component Testing:
  p Quick instructions
  hr
  p dropdown and text box
  
  div.alert.alert-success(id="alert_Success", role="alert", style="display: none;")
  div.alert.alert-warning(id="alert_Warning", role="alert", style="display: none;")
  div.alert.alert-danger(id="alert_Failure", role="alert", style="display: none;")

block scripts
    script(src='/javascript/utils.js')
    script(src='/javascript/component_testing/main.js')
