extends layout

block content
  h1 File Manager
  p Use the dropdown to select a scan file. Press the blue button to download the file, and the red button to delete it from the rPi.
  hr

  label Select File
  form.form-inline
      div.form-group
          select.form-control.input-lg(id="select_FileName")
      div.form-group
          button.btn-lg.btn.btn-primary(id="btn_DownloadFile", type="button" name="submit" value="download")
            span.glyphicon.glyphicon-download
          button.btn-lg.btn.btn-danger(id="btn_DeleteFile", type="button" name="submit" value="delete")
            span.glyphicon.glyphicon-trash
  br
  div.alert.alert-success(id="alert_Success", role="alert", style="display: none;")
  div.alert.alert-warning(id="alert_Warning", role="alert", style="display: none;")
  div.alert.alert-danger(id="alert_Failure", role="alert", style="display: none;")


block scripts
    script(src='/javascript/utils.js')
    script(src='/javascript/file_manager/main.js')
