extends layout

block content
  h1 Home
  p Choose and option to get started.
  hr
  a.btn.btn-primary.homebtn(href="/scan" role="button")
    span.glyphicon.glyphicon-record
    p Perform Scan
  a.btn.btn-primary.homebtn(href="/file_manager" role="button")
    span.glyphicon.glyphicon-folder-open
    p File Manager
  a.btn.btn-default.homebtn(href="/component_testing" role="button")
    span.glyphicon.glyphicon-tasks
    p Component Testing
  a.btn.btn-warning.homebtn(href="/request_reboot" role="button")
    span.glyphicon.glyphicon-refresh
    p Restart Raspberry Pi
  a.btn.btn-danger.homebtn(href="/request_shutdown" role="button")
    span.glyphicon.glyphicon-off
    p Shutdown Raspberry Pi
