doctype html
html
  head
    title 3d-Scanner
    script(src='/javascript/jquery/jquery-2.2.4.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')
    script(src='/stylesheets/bootstrap-3.3.7-dist/js/bootstrap.min.js')
  body
    block content

    footer.footer
      div.container
        span.text-muted &copy; Copyright 2017 by 
          a(href="http://scanse.io/") Scanse, LLC
    
    block scripts