extends layout

block content
  div(id="div_ScanProgress", style="display: none;")
    h1 Scanning
    h4
      span(id="span_ScanStatus")
    hr
    table.table
      thead
        tr
          th Setting
          th Value
      tr
        td Scan Type
        td
          span(id="span_ScanType")
      tr
        td Motor Speed
        td
          span(id="span_MotorSpeed")
      tr
        td Sample Rate
        td
          span(id="span_SampleRate")
      tr
        td File Name
        td
          span(id="span_FileName")
      div.progress
          div.progress-bar.progress-bar-striped.active(id="pb_Scan", role="progressbar", aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%") 0%
    a.btn.btn-danger.btn-md.homebtn(href="/script_execution/cancel_scan", id="btn_CancelScan", type="button") 
      span.glyphicon.glyphicon-exclamation-sign
      p Cancel Scan

  div(id="div_ScanResults", style="display: none;")
      h1 Results
      h4
        span(id="span_ScanResult")
      hr
      div.alert.alert-success(id="alert_Success", role="alert", style="display: none;")
      div.alert.alert-danger(id="alert_Failure", role="alert", style="display: none;")
      hr
      p The results of the scan can be reviewed using the
        a.btn.btn-primary(href="/file_manager" role="button" style="margin-left:4px;")
          span.glyphicon.glyphicon-folder-open(style="margin-right:6px")
          span File Manager

  div(id="div_ScanForm")
      h1 Settings
      p Specify a filename. Then press the 
        strong Start Scan 
        | button to perform a scan with the selected settings.
      hr
      form
        div.form-group
            label(for="input_FileName") File Name:
            input.form-control.input-lg(type="text", id="input_FileName", name="input_FileName")
          div.form-group
              label(for="select_ScanType") Scan Type:
              select.form-control.input-lg(id="select_ScanType", name="input_ScanType")
          div.form-group
              label(for="select_MotorSpeed") Motor Speed:
              select.form-control.input-lg(id="select_MotorSpeed", name="input_MotorSpeed")
          div.form-group
              label(for="select_SampleRate") Sample Rate:
              select.form-control.input-lg(id="select_SampleRate", name="input_SampleRate")
          button.btn.btn-primary.btn-lg(id="btn_PerformScan", type="button") Start Scan
block scripts
    script(src='/javascript/utils.js')
    script(src='/javascript/pages/scan.js')
