extends layout

block content
  div.container
    div.row(id="div_ScanProgress", style="display: none;")
        h1 Performing Scan
        div.col-sm-12.col-md-6
            h2 Scan Settings:
            h4 Scan Type:
                span(id="span_ScanType")
            h4 Motor Speed: 
                span(id="span_MotorSpeed")
            h4 Sample Rate: 
                span(id="span_SampleRate")
            h4 File Name: 
                span(id="span_FileName")
        div.col-sm-12.col-md-6
            h2 Scan Status:
                span(id="span_ScanStatus")
            div.progress
                div.progress-bar.progress-bar-striped.active(id="pb_Scan", role="progressbar", aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%") 0%
    
    div(id="div_ScanResults", style="display: none;")
        h1 Scan Results:
        a.btn.btn-primary(href="/" role="button") Return Home

        div.alert.alert-success(id="alert_Success", role="alert", style="display: none;")
        div.alert.alert-danger(id="alert_Failure", role="alert", style="display: none;")


    div(id="div_ScanForm")
        h1 Scan Settings:
        a.btn.btn-primary(href="/" role="button") Return Home
        form
            div.form-group
                label(for="select_ScanType") Scan Type:
                select(id="select_ScanType", name="input_ScanType")
            div.form-group
                label(for="select_MotorSpeed") Motor Speed:
                select(id="select_MotorSpeed", name="input_MotorSpeed")
            div.form-group
                label(for="select_SampleRate") Sample Rate:
                select(id="select_SampleRate", name="input_SampleRate")
            div.form-group
                label(for="input_FileName") File Name:
                input(type="text", id="input_FileName", name="input_FileName")
            button.btn.btn-primary.btn-block(id="btn_PerformScan", type="button") Perform Scan!
block scripts
    script(src='/javascript/utils.js')
    script(src='/javascript/scan/main.js')