<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block stylesheet_includes %}
        <script src="/static/jquery/jquery-2.2.4.min.js"></script>
        <link rel="stylesheet" href='/static/bootstrap-3.3.7-dist/css/bootstrap.min.css' />
        <link rel="stylesheet" href='/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' />
        <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block head %}
        <title>3D Scanner - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer id="footer" class="footer">
        {% block footer %}
            <div class="container">
                <span class="text-muted">
                    &copy; Copyright 2017 by <a href="http://scanse.io/">Scanse, LLC</a>.
                </span>
            </div>
        {% endblock %}
    </footer>
</body>
</html>