{% extends "base_template.html" %}

{% block title %}Form{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            
            <h2>Scan File Manager</h2>
            
            <a class="btn btn-primary" href="/" role="button">Return Home</a>
            
            <br>
            <div class="col-xs-10">
                <form  action="" method="post" role="form">
                    {{ form.csrf_token }}
                    <br><br>
                    {{ form.scan_file }}
                    {{ form.download }}
                    {{ form.delete }}
                </form>

                <br>
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if "Error" not in message[1]: %}
                                <div class="alert alert-info">
                                <strong>Success! </strong> {{ message[1] }}
                                </div>
                            {% endif %}

                            {% if "Error" in message[1]: %}
                                <div class="alert alert-warning">
                                {{ message[1] }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    
{% endblock %}