extends layout

block content
  div.container
    h1 Welcome to the 3d-Scanner Homepage!
    br
    div.btn-group-vertical
      a.btn.btn-primary(href="/scan" role="button") Perform Scan
      a.btn.btn-primary(href="/file_manager" role="button") File Manager
      a.btn.btn-primary(href="/device" role="button") Device Controls
      a.btn.btn-primary(href="/component_testing" role="button") Component Testing